@media all and (max-width: 1000px) {
    .anggota {
        width: 50%;
        margin-bottom: 50px;
    }

    .bagian-utama h1 {
        font-size: 32px;
    }

    .heading h2 {
        font-size: 25px;
    }
}

@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
    }

    .anggota {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

}